/* Style for the "Previous" arrow */
.prev-arrow {
    left: 2cm; /* Move "Previous" arrow 2 cm to the right */
}

/* Style for the "Next" arrow */
.next-arrow {
    right: 2cm; /* Move "Next" arrow 2 cm to the left */
}
/* Style for the image container */
.image-container {
    text-align: center; /* Center-align the images */
    margin: 20px 0; /* Add space around the images */
}

/* Style for the slideshow images */
.slideshow-image {
    max-width: 100%; /* Set max width to 100% for mobile responsiveness */
    display: none; /* Hide images by default */
    margin: 0 auto; /* Center the image horizontally */
}

/* Style for the navigation arrows */
.navigation-arrow {
    cursor: pointer;
    width: 40px; /* Adjust arrow size for mobile */
    height: 40px; /* Adjust arrow size for mobile */
    z-index: 1; /* Ensure arrows appear above images */
    position: absolute; /* Position the arrows absolutely */
    top: 50%; /* Align arrows vertically to the middle */
    transform: translateY(-50%); /* Center vertically */
}

/* Style for the "Previous" arrow */
.prev-arrow {
    left: 10px; /* Position "Previous" arrow to the left */
}

/* Style for the "Next" arrow */
.next-arrow {
    right: 10px; /* Position "Next" arrow to the right */
}

/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');

/* Set a moving gradient background */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(270deg, grey, #a9bcd0);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: white;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.top-box {
    background-color: rgba(105, 105, 105, 0.8);
    width: 100%;
    height: 120px; /* Height to cover just below the navigation bar */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
